.main-container{
    background-color: rgb(153, 37, 255);
    height: 650px;
    width: 1400px;
    border: 8px solid white;
    border-radius: 20px;
    margin: 20px 40px;
    position: relative;

}
.inner-cont{
    /* border: 2px solid white; */
    position: absolute;
    color: white;
    font-weight: bold;
    height: 30%;
    width: 75%;
    margin: 190px 180px ;

    text-align: center;
    font-size:50px;
    box-sizing: border-box;
    

}
.small-cont{
     /* border: 2px solid red; */
     margin:400px 335px ;
     box-sizing: border-box;
     width: 50%;
     font-size:20px;
     display: inline-block;
     font-weight: 100;
}